.App {
  text-align: center;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  border: 30px;
  background-position: center;
  /* background-size: cover; */
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbNUbGZor7Qs9fntSMBwrbKNyCvVUhNEtV5WubLjYVUxiLiq8q&s);
}

input {
  border-color: Green;
  height: 5vh;
}

.Header {
  max-height: 130vh;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.button {
  height: 5vh;
  border-radius: 10px;
  background-color: green;

}

.one {
  display: flex;
  max-height: 20vh;
  border: 1px black solid;
  align-items: center;
}

.button2{
  display: flex;
  align-items: bottom;
  height: 5vh;
  border-radius: 10px;
  background-color: green;

}

.button3 {
  height: 5vh;
  border-radius: 10px;
  background-color: red;
}



.Champion {
  display: flex;
  justify-content: space-evenly;
  border: 10px;
  border-top: yellow;
  background-color: yellow;
  /* margin: 10px; */
}

.Top5 {
  background-color: silver;
  border: 1px black solid;


}

.FighterList {
  background-color: rgb(243, 174, 0);
}

img {
  height: 10vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
